@use '../../../styles/base/index' as b;
@use '../../../styles/utils/index' as u;

.sliding-text-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;


  &__text {
    display: flex;
    line-height: 1.2;
    font-size: b.$slidingText;
    font-weight: bold;
    will-change: transform;


    &__wrapper {
      display: flex;
      min-width: max-content;


      &--textColor {
        color: b.$textColor;
      }

      &--textColorStroke {
        color: transparent;
        -webkit-text-stroke: 1px b.$textColor;
      }
    }
  }
}
