<section class="top-section mouse-spotlight-section" appSpotlight>
  <app-navbar></app-navbar>
  <app-top-view></app-top-view>
</section>
<section class="quote-section">
  <p class="quote-section__quote">
    Whether I’m on the trails or behind the screen,
    it’s about the same thing momentum, precision, and the drive to keep improving.
  </p>
</section>
<section class="about-me-section">
  <app-section-title class="about-me-section__title" [titleText]="'Some information'"
                     [subtitleText]="'about me'"></app-section-title>
  <div class="about-me-section__container">
    <div class="about-me-section__container__information">
      <p class="about-me-section__container__information__text" #imageTextContainer></p>
    </div>
    <app-image-rectangle
      [images]="images" [isDisabled]="isAnimatingImage" (imageSelected)="setActiveImage($event)"></app-image-rectangle>
  </div>
</section>
<section class="my-skills-section">
  <app-section-title [titleText]="'These are'" [subtitleText]="'my skills'"></app-section-title>
  <div class="my-skills-section__container">
    <div class="my-skills-section__container__specific">
      <app-skill-box [skills]="skills" [isDisabled]="isAnimating"
                     (skillSelected)="setActiveSkill($event)"></app-skill-box>
    </div>
    <div class="my-skills-section__container__total">
      <div class="my-skills-section__container__total__data" #totalContainer>
        <p id="" class="my-skills-section__container__total__data__name">{{ activeSkill.name }}</p>
        <p class="my-skills-section__container__total__data__quote">"{{ activeSkill.quote }}"</p>
      </div>
      <div class="my-skills-section__container__total__progress">
        <app-skill-progress
          [title]="'Years Experience'"
          [min]="0"
          [max]="activeSkill.maxExperience"
          [value]="activeSkill.yearsExperience">
        </app-skill-progress>

        <app-skill-progress
          [title]="'Projects made'"
          [min]="0"
          [max]="activeSkill.maxProjects"
          [value]="activeSkill.projectsMade">
        </app-skill-progress>
        <app-skill-progress
          [title]="'Hours practiced'"
          [min]="0"
          [max]="activeSkill.maxHoursPracticed"
          [value]="activeSkill.hoursPracticed">
        </app-skill-progress>
      </div>
    </div>
  </div>
</section>
<section class="projects-section">
  <app-section-title [titleText]="'Here are'" [subtitleText]="'my projects'"></app-section-title>
  <div class="projects-section__list">
    <app-project-list [projects]="projects"></app-project-list>
  </div>
</section>
<section class="sliding-text-section">
  <app-sliding-text [words]="wordList" [direction]="'ltr'"></app-sliding-text>
  <app-sliding-text [words]="secondWordList" [direction]="'rtl'"></app-sliding-text>
</section>

<section class="contact-section mouse-spotlight-section" appSpotlight>
  <app-section-title [titleText]="'Lets get'" [subtitleText]="'in touch!'"></app-section-title>
  <div class="contact-section__container">
    <div class="contact-section__container__image">
      <img src="assets/contact-me-image.svg" class="contact-section__container__image__size" alt="Contact Image">
    </div>
    <form #contactForm="ngForm" class="contact-section__container__form">
      <label for="name">Name</label>
      <input type="text" id="name" placeholder="Name" [(ngModel)]="formData.name" name="name" required/>
      <label for="subject">Subject</label>
      <input type="text" id="subject" placeholder="Subject" [(ngModel)]="formData.subject" name="subject" required/>
      <label for="chat">Chat</label>
      <textarea id="chat" placeholder="Type your message..." [(ngModel)]="formData.chat" name="chat"
                required></textarea>
      <button class="contact-section__container__form__button" (click)="openMail()" [disabled]="contactForm.invalid">
        Send
      </button>
    </form>

  </div>
</section>

