@use '../../../styles/base/index' as b;
@use '../../../styles/utils/index' as u;

.quote-section {
  width: 100%;
  margin-top: b.$sectionSpacing;
  display: flex;
  justify-content: center;

  &__quote {
    width: 30%;
    text-align: center;
    color: b.$textColor;
    font-size: b.$navbarFont;
    padding: 0 b.$defaultSectionSpacing 0 b.$defaultSectionSpacing;
    font-weight: bold;
  }

  @include u.respond-to(tablet) {
    .quote-section {
      &__quote {
        width: 100%;
      }
    }
  }
}

.about-me-section {
  padding: 0 b.$defaultSectionSpacing 0 b.$defaultSectionSpacing;
  margin-top: b.$sectionSpacing;

  &__container {
    margin-top: b.$defaultSectionSpacing;
    display: flex;
    flex-direction: row;
    height: 50vh;


    &__information {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 65%;
      gap: 40px;

      &__text {
        color: b.$textColor;
        max-width: 60%;
        font-size: b.$navbarFont;

        &--green {
          color: b.$lightgreen;
          font-weight: bold;
        }

      }
    }

    &__about-me-image {
      width: 30%;
      background-color: b.$darkBox;
      height: auto;
      border-radius: b.$defaultBorderRadius;
    }

  }

  @include u.respond-to(tablet) {
    .about-me-section {

      &__container {
        &__information {
          width: 50%;
          height: auto;

          &__text {
            max-width: 90%;
          }
        }

        &__about-me-image {
          width: 50%;
        }
      }
    }
  }
  @include u.respond-to(mobile) {
    .about-me-section {
      &__container {
        flex-direction: column;
        min-height: 50vh;
        align-items: center;
        height: auto;

        &__information {
          width: 100%;
          height: auto;

          &__text {
            max-width: 100%;
          }
        }

        &__about-me-image {
          margin-top: b.$defaultSectionSpacing;
          width: 70%;
          min-height: 300px;

        }
      }
    }
  }
}

.my-skills-section {
  padding: 0 b.$defaultSectionSpacing 0 b.$defaultSectionSpacing;
  margin-top: b.$sectionSpacing;

  &__container {
    width: 100%;
    margin-top: b.$defaultSectionSpacing;
    display: flex;
    flex-direction: row;

    &__specific {
      width: 70%;
    }

    &__total {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      min-height: 35vh;
      width: 30%;
      border-radius: b.$defaultBorderRadius;
      border: 1px solid b.$strokeColor;

      &__data {
        &__year {
          color: b.$lightgreen;
          font-size: b.$yearText;
          font-weight: bold;
          text-align: center;
        }

        &__text {
          color: b.$textColor;
          font-size: b.$experienceText;
          font-weight: bold;
          text-align: center;
        }
      }

      &__button {
        width: 40%;
      }
    }
  }

  @include u.respond-to(tablet) {
    &__container {
      flex-direction: column;

      &__specific {
        width: 100%;
      }

      &__total {
        margin-top: b.$defaultSectionSpacing;
        width: 100%;
      }
    }
  }
}

.projects-section {
  padding: 0 b.$defaultSectionSpacing 0 b.$defaultSectionSpacing;
  margin-top: b.$sectionSpacing;

  &__list {
    margin-top: b.$defaultSectionSpacing;

  }
}

.sliding-text-section {
  margin-top: b.$sectionSpacing;
}

.mouse-spotlight-section {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(b.$lightgreen, 0.5), rgba(b.$darkgreen, 0.1) 70%);
    pointer-events: none;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s ease;
    top: var(--spotlight-y, 50%);
    left: var(--spotlight-x, 50%);
  }

  &:hover::before {
    opacity: 1;
    cursor: pointer;
  }
}

.contact-section {
  padding: 0 b.$defaultSectionSpacing 0 b.$defaultSectionSpacing;
  margin-top: b.$sectionSpacing;

  &__container {
    margin-top: b.$defaultSectionSpacing;
    display: flex;
    flex-direction: row;

    &__image {
      width: 60%;

      &__size {
        width: 50%;
      }
    }
    &__form {
      position: relative;
      color: b.$textColor;
      background-color: b.$black;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid b.$strokeColor;
      border-radius: b.$defaultBorderRadius;
      width: 40%;
      padding: b.$defaultSectionSpacing;

      label {
        display: block;
        align-self: flex-start;
        margin: 1rem 0 0.25rem;
        font-weight: 500;
        color: b.$textColor
      }

      input,
      textarea {
        width: 100%;
        padding: b.$buttonPadding;
        border: 1px solid b.$strokeColor;
        background-color: transparent;
        color: b.$textColor;
        font-size: 1rem;
        outline: none;
        border-radius: b.$defaultBorderRadius;

        &:focus {
          border-color: b.$lightgreen;
        }
      }

      textarea {
        height: 40%;
      }

      &__button {
        width: 100%;
        margin-top: b.$defaultSectionSpacing;
        color: b.$textColor;
        padding: b.$buttonPadding;
        border-radius: b.$defaultBorderRadius;
        background-color: transparent;
        border: 1px solid b.$strokeColor;
        font-weight: bold;
        transition: background 0.3s ease-in-out;

        &:hover {
          cursor: pointer;
          background-color: rgba(b.$lightgreen, 0.6);
        }
      }
    }
  }
  @include u.respond-to(tablet) {
    &__container {
      &__image {
        width: 50%;

        &__size {
          width: 80%;
        }
      }
      &__form {
        width: 50%;

        textarea {
          height: 20%;
        }

      }
    }
  }

  @include u.respond-to(mobile) {
    &__container {
      flex-direction: column-reverse;

      &__image {
        margin-top: b.$defaultSectionSpacing;
        width: 100%;
        display: flex;
        justify-content: center;

        &__size {
          width: 50%;
        }
      }
      &__form {
        width: 100%;
      }
    }

  }
}
