<section id="top-section" class="top-section mouse-spotlight-section" appSpotlight>
  <app-navbar></app-navbar>
  <app-top-view></app-top-view>
</section>
<section id="quote-section" #quoteContainer class="quote-section">
  <div  class="quote-section__container">
    <div class="quote-section__container__top">
      <img #followImg class="quote-section__container__top--left" src="assets/me-circle-image.jpg" alt="Picture of me">
      <img #followImg class="quote-section__container__top--right" src="assets/me-ski-image.jpg" alt="Picture of me sking">
    </div>

    <p class="quote-section__container__quote">"Shaping ideas</p>
    <p class="quote-section__container__quote">into reality"</p>
    <p class="quote-section__container__highlight">I will keep exploring!</p>

    <div class="quote-section__container__bottom">
      <img #followImg class="quote-section__container__bottom--left" src="assets/me-hobby.jpg" alt="Picture of me on a mountainbike">
      <img #followImg class="quote-section__container__bottom--right" src="assets/me-travel-image.jpg" alt="Picture of me in Scotland">
    </div>
  </div>
</section>
<section id="about-section" #aboutContainer class="about-me-section">
  <app-section-title class="about-me-section__title" [titleText]="'Some information'"
                     [subtitleText]="'about me'"></app-section-title>
  <div  class="about-me-section__container">
    <div class="about-me-section__container__information">
      <p class="about-me-section__container__information__text">Hey there I’m Niels, a {{age}}-year-old student from
        Noord-Brabant, the
        Netherlands. I’m currently studying ICT & Media Design at Fontys University of Applied Sciences.</p>

      <p class="about-me-section__container__information__text">I have a strong passion for interactive design and love
        creating digital experiences that feel natural and engaging. Finding the perfect balance between creativity and
        simplicity is what excites me the most. I enjoy working on projects that bring ideas to life in a simple and
        natural way.</p>
      <p class="about-me-section__container__information__text">For me, design isn’t just about screens it’s about
        energy and inspiration. When I’m not working on projects, you’ll find me mountain biking through the trails,
        hitting the gym, or playing PC games to relax. Staying active helps me clear my mind and stay motivated.</p>
      <app-download-button class="about-me-section__container__information__button" [fileToDownload]="'assets/docs/CV_Niels-Lazaroms.pdf'" [buttonText]="'Download resume'" ></app-download-button>
    </div>
    <div class="about-me-section__container__about-me">
      <img #aboutMeImage class="about-me-section__container__about-me__image" alt="Image where I am standing in a forrest" src="../../../assets/me-forrest.jpg">
    </div>
  </div>
</section>
<section id="skills-section" class="my-skills-section">
  <app-section-title [titleText]="'These are'" [subtitleText]="'my skills'"></app-section-title>
  <div class="my-skills-section__container">
    <div class="my-skills-section__container__specific">
      <app-skill-box [skills]="skills" [isDisabled]="isAnimating"
                     (skillSelected)="setActiveSkill($event)"></app-skill-box>
    </div>
    <div class="my-skills-section__container__total" #skillsContainer>
      <div class="my-skills-section__container__total__data" #totalContainer>
        <p id="" class="my-skills-section__container__total__data__name">{{ activeSkill.name }}</p>
        <p class="my-skills-section__container__total__data__quote">"{{ activeSkill.quote }}"</p>
      </div>
      <div class="my-skills-section__container__total__progress">
        <app-skill-progress
          [title]="'Years Experience'"
          [min]="0"
          [max]="activeSkill.maxExperience"
          [value]="activeSkill.yearsExperience">
        </app-skill-progress>

        <app-skill-progress
          [title]="'Projects made'"
          [min]="0"
          [max]="activeSkill.maxProjects"
          [value]="activeSkill.projectsMade">
        </app-skill-progress>
        <app-skill-progress
          [title]="'Hours practiced'"
          [min]="0"
          [max]="activeSkill.maxHoursPracticed"
          [value]="activeSkill.hoursPracticed">
        </app-skill-progress>
      </div>
    </div>
  </div>
</section>
<section id="projects-section" class="projects-section">
  <app-section-title [titleText]="'Here are'" [subtitleText]="'my projects'"></app-section-title>
  <div class="projects-section__list">
    <app-project-list [projects]="projects"></app-project-list>
  </div>
</section>
<section class="sliding-text-section">
  <app-sliding-text [words]="wordList" [direction]="'ltr'"></app-sliding-text>
  <app-sliding-text [words]="secondWordList" [direction]="'rtl'"></app-sliding-text>
</section>

<section id="contact-section" class="contact-section mouse-spotlight-section" appSpotlight>
  <app-section-title [titleText]="'Lets get'" [subtitleText]="'in touch!'"></app-section-title>
  <div class="contact-section__container">
    <div class="contact-section__container__image">
      <img src="assets/contact-me-image.svg" class="contact-section__container__image__size" alt="Contact Image">
    </div>
    <form #contactForm="ngForm" class="contact-section__container__form">
      <label for="name">Name</label>
      <input type="text" id="name" placeholder="Name" [(ngModel)]="formData.name" name="name" required/>
      <label for="subject">Subject</label>
      <input type="text" id="subject" placeholder="Subject" [(ngModel)]="formData.subject" name="subject" required/>
      <label for="chat">Chat</label>
      <textarea id="chat" placeholder="Type your message..." [(ngModel)]="formData.chat" name="chat"
                required></textarea>
      <button class="contact-section__container__form__button" (click)="openMail()" [disabled]="contactForm.invalid">
        Send
      </button>
    </form>
  </div>
</section>
<section class="footer-section">
  <app-footer></app-footer>
</section>
