@use '../../../styles/base/index' as b;

.section-text {
  &__heading {
    font-size: b.$headingText;
    font-weight: bold;
    color: var(--textColor);

    &--green {
      color: var(--primaryColor)
    }
  }
}
