@use '../../../styles/base/index' as b;
@use '../../../styles/utils/index' as u;

.skill-box-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px 20px;

  &__item {
    border: 3px solid var(--strokeColor);
    border-radius: b.$defaultBorderRadius;
    width: 25%;
    padding: 20px;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;


    &.active {
      border-color: var(--primaryColor);

    }

    &:hover:not(.active, .disabled) {
      animation: spin 2.5s infinite linear paused;
      background: linear-gradient(
          to bottom,
          var(--mainColor),
          var(--mainColor)
      ) padding-box,
      conic-gradient(
          from var(--bg-angle),
                      var(--primaryColor),
          var(--secondaryColor) 100%
      ) border-box;
      border: 3px solid transparent;
      animation-play-state: running;
      cursor: pointer;
    }
  }

  &__image {
    width: 50%;
    filter: grayscale(100%);
    transition: 0.3s ease-in-out;

    &.active {
      filter: grayscale(0);
    }
  }
  &__item:hover:not(.disabled) &__image,
  &__item.active &__image {
    filter: grayscale(0);
  }
}

@include u.respond-to(tablet) {
  .skill-box-list {
    &__item {
      width: 30%;
    }

    &__image {
      width: 40%;
    }
  }
}

@include u.respond-to(mobile) {
  .skill-box-list {
    justify-content: center;
    &__item {
      height: 15vh;
      width: 40%;
    }
  }
}

@property --bg-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

@keyframes spin {
  to {
    --bg-angle: 360deg;
  }
}


