@use '../../../styles/base/index' as b;
@use '../../../styles/utils/index' as u;

.skill-box-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px 20px;

  &__item {
    border: 1px solid b.$strokeColor;
    border-radius: b.$defaultBorderRadius;
    width: 20%;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {}
  }

  &__image {
    width: 50%;
  }

}
  @include u.respond-to(tablet) {
    .skill-box-list {
      &__item {
        width: 30%;
      }

      &__image {
        width: 40%;
      }
    }
  }

  @include u.respond-to(mobile) {
    .skill-box-list {
      &__item {
        height: 15vh;
        width: 28%;
      }
    }
  }



