@use '../../../styles/base/index' as b;
@use '../../../styles/utils/index' as u;

.project-card-list {
  &__item {
    border-top: 1px solid var(--strokeColor);
    border-left: 1px solid var(--strokeColor);
    border-right: 1px solid var(--strokeColor);
    overflow: hidden;
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &:hover .project-card-list__item__header__container::before {
      opacity: 1;
    }

    &:nth-child(1) {
      border-top-right-radius: b.$defaultBorderRadius;
      border-top-left-radius: b.$defaultBorderRadius;
    }

    &:nth-last-child(1) {
      border-bottom-right-radius: b.$defaultBorderRadius;
      border-bottom-left-radius: b.$defaultBorderRadius;
      border-bottom: 1px solid var(--strokeColor);
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 16px;
      cursor: pointer;

      &__container {
        position: relative;
        display: inline-flex;
        align-items: center;
        gap: 30px;

        @media (hover: hover) and (pointer: fine) {
          &::before {
            content: "";
            position: absolute;
            z-index: -1;
            width: 200%;
            height: 300%;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 50%;
            background: radial-gradient(
                ellipse at 50% 50%,
                rgba(var(--primaryColor-rgb), 0.7) 10%,
                transparent 60%
            );
            filter: blur(20px);
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
          }
        }

        &__title {
          color: var(--textColor);
          font-size: b.$navbarFont;
          position: relative;
          display: inline-block;

        }

        .arrow {
          transition: transform 0.3s ease;
          font-size: 36px;
          color: var(--primaryColor)
        }

        .rotated {
          transform: rotate(90deg);
        }
      }
    }

    &__content {
      animation: fadeIn 0.3s ease-in-out;

      &__skills {
        margin-top: 8px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 6px;

        span {
          background: transparent;
          padding: 16px;
          border-radius: b.$defaultBorderRadius;
          text-align: center;
          font-size: b.$buttonText;
          font-weight: bold;
          color: var(--textColor);
          border: 1px solid var(--primaryColor);
          -webkit-text-stroke: 0.3px var(--primaryColor);
        }

        &__year {
          color: var(--textColor);
          margin-left: 10px;
          font-size: b.$buttonText;
          font-weight: bold;
        }
      }
    }
    &__information {
      display: flex;
      flex-direction: column;
      margin-top: b.$defaultSectionSpacing;
      gap: 20px;

      &__image-list {
        display: flex;
        flex-direction: row;
        gap: 15px;
        width: 100%;

        &__item {
          flex: 1;
          min-width: 0;

          &__image {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
            border-radius: b.$defaultBorderRadius;
          }
        }
      }
      &__text {
        width: 40%;
        line-height: 1.2;
        color: var(--textColor);
        font-size: b.$buttonText
      }
      &__links {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: b.$buttonText;

        &--url, &--github {
          text-decoration: underline;
          color: var(--primaryColor);

        }
      }
    }
  }
}

@include u.respond-to(tablet) {
  .project-card-list {
    &__item {
      &__information {
        &__text {
          width: 60%;
        }
      }
    }
  }
}
@include u.respond-to(mobile) {
  .project-card-list {
    &__item {
      &__header{
        flex-direction: column;
        &__container {
          gap: 10px;
          &__title {
            min-width: 90%;
          }
        }
      }
      &__content__skills{
        flex-direction: row;
        justify-content: center;
        &__year {
          display: none;
        }
      }
      &__information {
        &__text {
          width: 100%;
        }

        &__image-list {
          flex-direction: row;
          flex-wrap: wrap;

          &__item {
            flex: 1 1 calc(50% - 7.5px);
            max-width: calc(50% - 7.5px);
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
