@use '../../../styles/base/index' as b;
@use '../../../styles/utils/index' as u;

.download-button {
  width: 100%;
  padding: b.$buttonPadding;
  color: b.$textColor;
  font-size: b.$buttonText;
  border-radius: b.$defaultBorderRadius;
  animation: spin 2.5s infinite linear paused;
  background:
    linear-gradient(
        to bottom,
        b.$black,
        b.$black
    ) padding-box,
    conic-gradient(
        from var(--bg-angle),
        b.$lightgreen,
        b.$darkgreen 100%
    ) border-box;
  border: 1px solid transparent;

  &:hover {
    animation-play-state: running;
    cursor: pointer;
    scale: 1.1;
  }
}

@property --bg-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}
@keyframes spin {
  to {
    --bg-angle: 360deg;
  }
}
