<div class="top-view">
  <svg class="top-view__small-circle top-view__small-circle--left" width="446" height="529" viewBox="0 0 446 529" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M445.035 47.1397C381.183 5.46369 303.39 -9.14013 228.77 6.5409C154.15 22.222 88.8156 66.9034 47.1396 130.756C5.46351 194.608 -9.14034 272.401 6.54071 347.021C22.2217 421.641 66.9032 486.975 130.756 528.651L287.895 287.896L445.035 47.1397Z" fill="url(#paint0_radial_4_6)"/>
    <defs>
      <radialGradient id="paint0_radial_4_6" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(287.895 287.896) rotate(33.1322) scale(287.5)">
        <stop stop-color="var(--mainColor)"/>
        <stop offset="0.8" stop-color="var(--mainColor)"/>
        <stop offset="1" stop-color="var(--primaryColor)"/>
      </radialGradient>
    </defs>
  </svg>
  <svg class="top-view__small-circle top-view__small-circle--bottom-left" width="293" height="207" viewBox="0 0 293 207" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M-0.948425 206.437C-0.960449 205.803 -0.970367 205.168 -0.97818 204.533C-1.91724 128.289 27.4699 54.7951 80.7186 0.218445L286.5 200.993L292.08 206.437H-0.948425Z" fill="url(#paint0_radial_4_13)"/>
    <defs>
      <radialGradient id="paint0_radial_4_13" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(286.5 200.993) rotate(-45.7056) scale(287.5 287.5)">
        <stop stop-color="var(--mainColor)"/>
        <stop offset="0.8" stop-color="var(--mainColor)"/>
        <stop offset="1" stop-color="var(--primaryColor)"/>
      </radialGradient>
    </defs>
  </svg>

  <div class="top-view__center">
    <svg class="top-view__center-image" width="575" height="575" viewBox="0 0 575 575" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="287.5" cy="287.5" r="287.5" fill="url(#paint0_radial_4_8)"/>
      <defs>
        <radialGradient id="paint0_radial_4_8" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(287.5 287.5) rotate(90) scale(287.5)">
          <stop stop-color="var(--mainColor)"/>
          <stop offset="0.8" stop-color="var(--mainColor)"/>
          <stop offset="1" stop-color="var(--primaryColor)"/>
        </radialGradient>
      </defs>
    </svg>
    <div class="top-view__center-text">
      <h1>Niels Lazaroms</h1>
      <p class="highlight">
        <span id="typewriter"></span>
      </p>
    </div>
  </div>
  <svg class="top-view__small-circle top-view__small-circle--right" width="446" height="529" viewBox="0 0 446 529" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0.754656 47.1397C64.6071 5.46369 142.4 -9.14013 217.02 6.5409C291.64 22.222 356.974 66.9034 398.65 130.756C440.326 194.608 454.93 272.401 439.249 347.021C423.568 421.641 378.887 486.975 315.034 528.651L157.894 287.896L0.754656 47.1397Z" fill="url(#paint0_radial_4_7)"/>
    <defs>
      <radialGradient id="paint0_radial_4_7" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(157.894 287.896) rotate(146.868) scale(287.5)">
        <stop stop-color="var(--mainColor)"/>
        <stop offset="0.8" stop-color="var(--mainColor)"/>
        <stop offset="1" stop-color="var(--primaryColor)"/>
      </radialGradient>
    </defs>
  </svg>
  <svg class="top-view__small-circle top-view__small-circle--bottom-right" width="293" height="207" viewBox="0 0 293 207" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M293.029 206.218C293.041 205.584 293.051 204.95 293.058 204.315C293.997 128.071 264.61 54.5766 211.362 -6.10352e-05L5.58012 200.774L-0.00012207 206.218H293.029Z" fill="url(#paint0_radial_4_10)"/>
    <defs>
      <radialGradient id="paint0_radial_4_10" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(5.5803 200.774) rotate(-134.294) scale(287.5 287.5)">
        <stop stop-color="var(--mainColor)"/>
        <stop offset="0.8" stop-color="var(--mainColor)"/>
        <stop offset="1" stop-color="var(--primaryColor)"/>
      </radialGradient>
    </defs>
  </svg>
</div>
