<div class="top-view">
  <!-- Linkerboven en beneden halve cirkels -->
  <img class="top-view__small-circle top-view__small-circle--left" src="assets/circle-half-left.svg" alt="Left Corner">
  <img class="top-view__small-circle top-view__small-circle--bottom-left" src="assets/corner-left.svg" alt="Bottom Left">

  <!-- Center Cirkel + Tekst -->
  <div class="top-view__center">
    <img class="top-view__center-image" src="assets/center-circle.svg" alt="Center Circle">
    <div class="top-view__center-text">
      <h1>Niels Lazaroms</h1>
      <p class="highlight">
        <span id="typewriter"></span>
      </p>
    </div>
  </div>

  <!-- Rechterboven en beneden halve cirkels -->
  <img class="top-view__small-circle top-view__small-circle--right" src="assets/circle-half-right.svg" alt="Right Corner">
  <img class="top-view__small-circle top-view__small-circle--bottom-right" src="assets/corner-right.svg" alt="Bottom Right">
</div>
