@use './styles/base/index' as b;
@import url("https://use.typekit.net/csb8lqw.css");

html {
  background-color: var(--mainColor);
  font-family: "oso-sans-variable", sans-serif;
;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
