:root {
  --primaryColor: #18B65C;
  --primaryColor-rgb: 28, 182, 92;
  --secondaryColor: #094422;
  --secondaryColor-rgb: 9, 68, 34;
  --mainColor: #151515;
  --mainColor-rgb: 21, 21, 21;
  --textColor: #DCDCDC;
  --cardBox: #1A1A1B;
  --strokeColor: #8A8A8A;
  --white: #FFFFFF;
  --black: #000000;
}

:root[data-theme="light"] {
  --primaryColor: #00933f;
  --primaryColor-rgb: 0, 147, 63;
  --secondaryColor: #05381b;
  --secondaryColor-rgb: 9, 68, 34;
  --mainColor: #F9FAFB;
  --mainColor-rgb: 249, 250, 251;
  --textColor: #1A1A1B;
  --cardBox: #F2F2F3;
  --strokeColor: #464646;
  --white: #FFFFFF;
  --black: #000000;
}
