$navbarFont: clamp(1rem, 1.5vw, 1.5rem); //16px -> 24px
$nameTitle: clamp(1.625rem, 6vw, 3rem); // 26px -> 48px
$highlightText: clamp(1.5rem, 6vw, 2.875rem); // 24px -> 46px
$headingText: clamp(3rem, 4vw, 5rem); //48px -> 80px
$yearText: clamp(2.5rem, 5vw, 6.5rem); //40px -> 104px
$experienceText: clamp(1.25rem, 2.5vw, 2.5rem); //20px -> 40px
$buttonText: clamp(0.75rem, 1.5vw, 1.25rem); //12px -> 20px
$slidingText: clamp(2.5rem, 7vw, 8.75rem); // 40px -> 120px
$subTitle: clamp(1rem, 3vw, 2.125rem); // 16px -> 34px
